{% extends "layout.html" %}
{% block content %}
    <!-- posts argument is received -->
    <div class="card mb-4">
        <div class="card-header" style="background: rgb(86,128,233);
      background: linear-gradient(270deg, rgba(86,128,233,1) 0%, rgba(90,185,234,1) 35%, rgba(132,235,187,1) 100%);"><a href="{{ url_for('posts.post', post_id=post.id) }}"><h5 style="color: black; text-decoration-color: rgb(172, 7, 7);">{{ post.title }}</h5></a></div>
        <div class="card-body">
          <div class="mb-2">
            <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="rounded-circle" width="52" height="60"> 
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <p class="article-content">{{post.content}}</p>  
          {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('main.home') }}">Back</a>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
            {% else %}  
                <div>
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('main.home') }}">Back</a>
                </div>
            {% endif %}  	 
        </div>
      </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
<!-- content is not needed -->